{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Test</h1>
        </div>

        <ul>
            {% for news_source in news_sources %}
                <li>Source: {{news_source.name}}</li>
                <li>DEscription: {{news_source.description}}</li>
                <li>{{news_source.country}}</li>
                <li></li>
                <li></li>
                <li></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}